*
*::before
*::after {
    box-sizing: border-box;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}      

@media (min-width: 343px){
    main{
    position: relative;
}
    .prjctBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em;
    }
    .prjcts{
        display: flex;
        justify-content: center;
        max-width: 20em;
    }
    
    .api{
        display: flex;
        flex-direction: column;
        max-width: 20em;
    }
    .apiTxt{
        display: flex;
        flex-direction: column;
        height: 20em;
        max-width: 15em;
    }
    .apiImg{
        display: flex;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        max-width: 15em;
    }
    .apiExp{
        text-align: center;
    }
    
    .prjctTxt{
        color: #ffffff;
        
    }
}
@media (min-width: 600px){
    .apiTxt{
    display: flex;
    height: 20em;
    background-color: #313131;
    border-radius: 16px;
    }
    .apiImg{
        display: flex;
        height: 20em;    
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }

    .apiExp{
        display: flex;
        margin: 1em;

    }
}
@media (min-width: 1200px){
    .apiTxt{
    display: flex;
    height: 20em;
    background-color: #313131;
    border-radius: 16px;
    }
    .apiImg{
        display: flex;
        height: 20em;    
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }

    .apiExp{
        display: flex;
        margin: 1em;

    }
}
body{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
}

    .head{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
        .pic{
            display: flex;
            justify-content: center;
            margin: 3em;
        }
            .mefr{
                border-radius: 128px;
                border-style: solid;
                width: 250px;
        }
        .name{
            display: flex;
            justify-content: center;
        }
            .nameText{
                color: #ffffff;
            }


    .showcase{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(10px);                
        color: #000000;
    }



            .rrss{
            margin-left: 1em;  
            display: flex;
            border-color: black;
            flex-direction: row-reverse;
            gap:1em;
            }

            p{
                margin:0px;
                justify-content: center;
                color: rgb(255, 255, 255);
            }
                .icon{
                    display: flex;   
                }

                .rrssTxt{
                    display: flex;
                    align-items: center;
                    margin: 0;
                    color: #ffffff;
                }

                    .git__icon{
                        transition: 0.5sec ease;
                        cursor: pointer;
                    }

                    .git__icon:hover{
                        transform: scale(1.1);
                    }
                    .git__icon{
                        width: 3em;
                        margin: 5px;
                    }

                    .engine{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .engineText{
                        display: flex;
                    }

                    .thumbnail{
                        display: flex;
                        justify-content: center;
                    }

                    .html__img{
                        width: 50px;
                        margin:5px
                    }

                    .css__img{
                        width: 60;
                    }

                    .js__img{
                        width: 50px;
                        margin:5px
                    }
               
main{
    position: relative;
}

.info{
    display: flex;
    color: rgb(255, 255, 255);
    margin: 30px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.perInfo{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.perTxt{
    display: flex;
    justify-content: center;
    text-align: center;
}

.abtMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 60em; */
}
.abt__me{
    display: flex;
    justify-content: center;
}

.estudios{
    color: #ffffff;
    margin-left: 2em;
}

.prjctBox{
    display: flex;
    flex-direction: column;

}

.prjctTxt{
    display: flex;
    color: #ffffff;
}

.prjcts{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.apiTxt{
    display: flex;
    width: 40em;
    background-color: #313131;
    border-radius: 16px;
}
    .apiImg{
        width: 20em;    
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    .apiExp{
        display: flex;
        margin: 1em;

    }